<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.domain.mapper.SystemNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yn.domain.model.po.SystemNoticePO">
        <id column="notice_id" property="noticeId"/>
        <result column="notice_type" property="noticeType"/>
        <result column="notice_title" property="noticeTitle"/>
        <result column="notice_body" property="noticeBody"/>
        <result column="notice_status" property="noticeStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="release_time" property="releaseTime"/>
    </resultMap>

</mapper>
